@model List<WebUI.ViewModels.ProductVm>

<h1>ShopSphere</h1>

<div>

    @foreach (var p in Model)
    {
        <div>

            <h3>@p.Name</h3>

            <p>$@p.Price</p>

            <button>
                Add To Cart
            </button>

        </div>
    }

</div>